@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Mrs+Saint+Delafield&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: black;
}

header h1{
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 4em;
    color: beige;
    text-align: center;
}

header p {
    font-family: 'Amarante', serif;
    font-size: 1.5em;
    color: beige;
    margin: 30px;
}


.container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.card {
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;

}

.card img {
    height: 450px;
    width: 300px;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.2);
    z-index: 1;
}

.container:hover .card:not(.card:hover) {
    transform: scale(0.9);
    filter: saturate(0) blur(4px) brightness(0.5);

}